/* 
primary background color: #0a192f
secondary background color: #0c1d38
tertiary background color: #142538   doesnt really suit the palette 

primary font color: #00f5d4
secondary font color: #ccc6cf
font hover: #6439ff
font shadow: #00f5d46b
*/
:root {
    --primary-background-color: #0a192f;
    --secondary-background-color: #0c1d38;
    --tertiary-background-color: #142538;
    --card-background-color: #0e2242;
    --primary-color: #00f5d4;
    --primary-color-light: #7df3e3;
    --whiteish: #e2e2e2;
    --font-hover: #8462ff;
    --font-shadow: #00f5d46b;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: "Nunito", sans-serif;
    background-color: #0a192f;
    color: #ccc6cf
}

h1 {
    font-size: 4.5em;
    font-weight: 700;
    text-shadow: 3px 3px 3px #00f5d46b;
}

h2 {
    font-size: 4.3em;
    font-weight: 700;
    text-shadow: 3px 3px 3px #00f5d46b;
}

h3 {
    font-size: 2.3em;
    font-weight: 200;
}

h4 {
    font-size: 1.5em;
    font-weight: 200;
}

p {
    color: var(--whiteish);
}

.primary-background-color {
    background-color: var(--secondary-background-color);
    max-width: 80vw;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 5px #09172bd7;
}

.project-card-container {
    background-color: var(--card-background-color);
    border-radius: 5px;
    box-shadow: 0px 4px 10px #0b1520;
    transition: all 100ms ease-in-out;
}

.project-card-container:hover {
    box-shadow: 0px 14px 10px #0b1520e8;
    transform: translate(0, -10px);
}

hr.line-style {
    color: var(--primary-color);
    opacity: 1;
    border-top-width: 2px;
    max-width: 45%;
}

/* change the link color */
.nav-link {
    font-weight: 1000;
    transition: all 100ms ease-in-out;
}

.nav-link:hover {
    font-size: 1.1em;
}

.link-color {
    color: var(--primary-color);
}

.link-color:hover {
    color: var(--font-hover);
}

/* 00c7eb */
.nav-link:not(:hover) {
    color: var(--primary-color);
    font-size: 1.0em;
}


.h-full {
    height: 100vh;
}

.h-half {
    height: 50vh;
}

.back-z-index {
    z-index: -10;
}

.text-bright-green {
    color: var(--primary-color);
}

.text-light-green {
    color: var(--primary-color-light);
}


svg.skills {
    color: var(--primary-color);
}

img#selfie {
    width: 300px;
    height: 300px;
    border-radius: 6px;
    box-shadow: 6px 6px 4px #0b1520;
}

.testClass {
    background-color: #7df3e3;
}