/* 
primary background color: #0a192f
secondary background color: #0c1d38
tertiary background color: #142538   doesnt really suit the palette 

primary font color: #00f5d4
secondary font color: #ccc6cf
font hover: #6439ff
font shadow: #00f5d46b
*/

body {
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: "Nunito", sans-serif;
    background-color: #0a192f;
    color: #ccc6cf
}

.primary-background-color {
    background-color: #0c1d38;
    max-width: 80vw;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 5px #09172bd7;
}

.project-card-container {
    background-color: #0e2242;
    border-radius: 5px;
    box-shadow: 0px 4px 10px #0b1520;
    transition: all 100ms ease-in-out;
}

.project-card-container:hover {
    background-color: #0e2242;
    box-shadow: 0px 14px 10px #0b1520e8;
    transform: translate(0, -10px);
}

.primary-color {
    color: #00f5d4 !important;
    border-color: #00f5d4 !important;
}

h1 {
    font-size: 4.5em;
    font-weight: 700;
    text-shadow: 3px 3px 3px #00f5d46b;
}

h2 {
    font-size: 4.3em;
    font-weight: 700;
    text-shadow: 3px 3px 3px #00f5d46b;
}

h3 {
    font-size: 2.3em;
    font-weight: 200;
}

h4 {
    font-size: 1.5em;
    font-weight: 200;
}

/* change the link color */
.nav-link {
    font-weight: 1000;
    transition: all 100ms ease-in-out;
}

.nav-link:hover {
    font-size: 1.1em;
}

.link-color {
    color: #00f5d4;
}

.link-color:hover {
    color: #6439ff;
}

/* 00c7eb */
.nav-link:not(:hover) {
    color: #00f5d4;
    font-size: 1.0em;
}


.h-full {
    height: 100vh;
}

.h-half {
    height: 50vh;
}

.back-z-index {
    z-index: -10;
}

.text-bright-green {
    color: #00f5d4;
}

.text-light-green {
    color: #a0fff2;
}

.text-very-light-green {
    color: #e2fffc;
}

svg.skills {
    color: #00f5d4;
}

img#selfie {
    width: 300px;
    height: 300px;
    border-radius: 6px;
    box-shadow: 6px 6px 4px #0b1520;
}