header {

}
nav {

}
p {
    margin: 0px 0px 0px 0px;
}
h1 {

}
nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;
    background-color: #212935; /* hue, saturation, lightness */
}
nav li {
    display: inline;
    margin-right: 20px;
}
main {
    margin-top: relative;
    position: relative;
    margin-bottom: 1px;
    width: 100%;
    height: auto;
    background-color: rgb(255, 251, 0);
}
#navbar {
    background-color: orangered;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0px;
    left: 0px;
}
#navbar-header{
    background-color: dodgerblue;
    width: 20%;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#bio-para{
    background-color: rgb(0, 255, 34);
}