:root {
    --text-color: #000000;
}

* {
    font-family: Helvetica, Arial, sans-serif;
}
   
h1 {
    color: var(--text-color);
    background-color: rgb(0,204,180); /* rgb, hex, among other options.  */
    text-align: center; /* centers the text within the element, but NOT the element itself */
    width: 220px; /* the actual width of the element */
    margin: 10px 5px 10px 5px; /* the space surrounding an element */
    padding: 8px 4px 8px 4px; /* clock-wise form: top, right, bottom, left. How much space within an element */
    font-size: 24px; 
    text-transform: uppercase; /* forces uppercase, lowercase etc */
    font-weight: 100; /* thickness of the font */
    /* position: fixed; One key difference between the fixed and absolute positions is that an element with a fixed position won't move when the user scrolls. */
}
h1:hover {
    background-color: #84ACCE;
}
header {
    background-color: hsl(180, 90%, 35%);
    color: #FFFFFF;
}
#navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: hsl(180, 80%, 25%);
}
nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;
    background-color: hsl(180, 80%, 25%);
}
nav li {
    display: inline;
    margin-right: 20px;
    background-color: hsl(180, 80%, 25%);
}

a {
    /* /text-decoration: none; */
    /* color: var(--text-color); */
    /* background-color: rgba(45, 45, 45, 0.2); background color of the element, WITH 'alpha'|'opacity' at the fourth position.  */
}
a:hover {
    /* background-color: rgba(0, 0, 255, 0.5); */
}

.injected-text {
    margin-bottom: -25px;
    text-align: center;
}

.box {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
}

.yellow-box {
    background-color: yellow;
    padding: 10px;
}

.red-box {
    background-color: crimson;
    color: #fff;
    padding: 20px;
}

.blue-box {
    background-color: blue;
    color: #fff;
    padding: 10px;
}