:root {
    --text-color: #ffffff;
}

* {
    font-family: Helvetica, Arial, sans-serif;
}
button {
    border-radius: 5px;
    color: #ffffff;
    background-color: #0F5897;
    padding: 5px 10px 8px 10px;
}
button:hover {
    animation-name: background-color;
    animation-duration: 500ms;
    /* Only change code below this line */
    animation-fill-mode: forwards;
    transform: scale(1.2);

    /* Only change code above this line */
}
@keyframes background-color {
    100% {
        background-color: #4791d0;
    }
}
h1 {
    color: var(--text-color);
    background-color: rgb(0,204,180); /* rgb, hex, among other options.  */
    text-align: center; /* centers the text within the element, but NOT the element itself */
    /*width: 220px; /* the actual width of the element */
    margin: 10px 5px 10px 5px; /* the space surrounding an element */
    padding: 8px 4px 8px 4px; /* clock-wise form: top, right, bottom, left. How much space within an element */
    font-size: 24px; 
    text-transform: uppercase; /* forces uppercase, lowercase etc */
    /*font-weight: 100; /* thickness of the font */
    /* position: fixed; One key difference between the fixed and absolute positions is that an element with a fixed position won't move when the user scrolls. */
}
h1:hover {
    background-color: #84ACCE;
}
a {
    color: #FFFFFF;
}
header {
    background-color: hsl(180, 90%, 35%); /* hue, saturation, lightness */
    color: #FFFFFF;
}
#navbar-header{
    color: var(--text-color);
    background-color: rgb(0,204,180); /* rgb, hex, among other options.  */
    text-align: center; /* centers the text within */
    margin: 10px 5px 10px 5px; /* the space surrounding an element */
    padding: 8px 4px 8px 4px; /* clock-wise form: top, right, bottom, left. How much space within an element */
    font-size: 24px; 
}
#navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: hsl(180, 80%, 25%); /* hue, saturation, lightness */
}
nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;
    background-color: hsl(180, 80%, 25%); /* hue, saturation, lightness */
}
nav li {
    display: inline;
    margin-right: 20px;
    background-color: hsl(180, 80%, 25%); /* hue, saturation, lightness */
}

.div-test{
    width: 70%;
    height: 100px;
    margin: 50px auto;
}
#top {
    background-color: red;
    transform: skewY(1deg);
  }
#bottom {
    background-color: blue;
    transform: skewX(24deg);
}
.heart {
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: pink;
    height: 50px;
    width: 50px;
    transform: rotate(-45deg);
  }
  .heart::after {
    background-color: pink;
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0px;
    left: 25px;
  }
  .heart::before {
    content: "";
    background-color: pink;
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    top: -25px;
    left: 0px;
  }
.center {
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border-radius: 50%;
     box-shadow: 25px 10px 0px 0px blue; /* offset-x, offset-y, blur-radius, spread-radius, color */
}


.injected-text {
    margin-bottom: -25px;
    text-align: center;
}

.box {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
}

.yellow-box {
    background-color: yellow;
    padding: 10px;
}

.red-box {
    background-color: crimson;
    color: #fff;
    padding: 20px;
}

.blue-box {
    background-color: blue;
    color: #fff;
    padding: 10px;
}
.balls {
    border-radius: 50%;
    background: linear-gradient(
      35deg,
      #ccffff,
      #ffcccc
    );
    position: fixed;
    width: 50px;
    height: 50px;
    margin-top: 50px;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  #ball1 {
    left:27%;
    animation-timing-function: linear;
  }
  #ball2 {
    left:56%;
    animation-timing-function: ease-out;
  }

  @keyframes bounce {
    0% {
      top: 0px;
    }
    100% {
      top: 249px;
    }
  }
